In [ ]:
a=int(input("enter a value:"))
b=int(input("enter b value:"))
print(type(a))
print(type(b))
print(a+b)

enter a value:10
enter b value:20
<class 'int'>
<class 'int'>
30

In [ ]:
eno=int(input("enter employee number:"))
ename=input("enter employee name:")
easal=float(input("enter employee salary"))
print("the given employee number is",eno)
print ("the given employee name is", ename)
print("the given employee salary",esal)

enter employee number:30
enter employee name:tanisha
enter employee salary3000
the given employee number is 30
the given employee name is tanisha
the given employee salary 345.45

In [ ]:
#write a python program to enter radius of circle and find the area?

radius=int(input("enter the radius of circle"))
pi=3.14
area=pi*radius*radius
print("the area of circle is",area)

enter the radius of circle12
the area of circle is 452.15999999999997

In [ ]:
#write a python program find the area and circumference of rectangle?

length=int(input("enter the length of rectangle:"))
breadth=int(input("enter the breadth of rectangle:"))
area=length*breadth
circumference=2*length+breadth
print("the area of rectangle",area)
print("the circumference of rectangle",circumference)

enter the length of rectangle:12
enter the breadth of rectangle:14
the area of rectangle 168
the circumference of rectangle 38

In [ ]:
from typing import AsyncGenerator
#write a python program to check the person whether eligible for voting or not?

age=int(input("age of the person"))

if age>=18:
  print("eligible for voting")
else:
    print("not eligible for voting")

age of the person20
eligible for voting

In [ ]:
#write a python program to check the given number is positive or negative or zero?
number=int(input())

if number>0:
  print("the given number is positive")
elif number<0:
  print("the given number is negative")
else:
  print("the given number is zero")

3
the given number is positive

In [ ]:
#accept employee basic salary and find gross salary

basic=int(input("enter your basic salary to find gross salary"))
if basic<=10000:
   print()  #HRA is 70% on basic , DA is 56% on basic
   hra=70*basic
   da=56*basic
elif basic<=20000:
    print() #HRA is 73% on basic , DA is 60% on basic
    hra=73*basic
    da=60*basic
else:
    print() #HRA is 80% on basic , DA is 56% on basic
    hra=80*basic
    da=56*basic

gs=basic+hra+da
print("gross salary:",gs)

enter your basic salary to find gross salary30000

gross salary: 4110000

In [ ]:
#accept employee basic salary and find gross salary

basic=int(input("enter your basic salary to find gross salary"))
if basic<=10000:
   print()  #HRA is 70% on basic , DA is 56% on basic
   hra=(basic/100)*70
   da=(basic/100)*56
elif basic<=20000:
    print() #HRA is 73% on basic , DA is 60% on basic
    hra=(basic/100)*73
    da=(basic/100)*60
else:
    print()
    hra=(basic/100)*80
    da=(basic/100)*56

gs=basic+hra+da
print("gross salary:",gs)
print("hra:",hra)
print("da:",da)

enter your basic salary to find gross salary4500

gross salary: 10170.0
hra: 3150.0
da: 2520.0

In [ ]:
#accept username and password and display
#invalid username -- if username is incorrect
#invalid password -- if password is incorrect
username=input("enter your username:")
password=input("enter your password:")
if username=="admin":
  if password=="admin123":
    print("welcome admin")
  else:
    print("invalid password")
else:
  print("invalid username")

enter your username:rishi
enter your password:1234
invalid username

In [ ]:



# SBI ATM : 500,200,100
#10000 -->
#7800 --> 15-500--> 7500+ 1-200+ 1-100
#400--> 2-200
#1000--> 500-2

#Accept withdrawn amount and print number of Notes
#sample input :7800
#expected output:
    #500---15
    #200---1
    #100---1


amount=int(input("enter the amount:"))
five=0
two=0
one=0
if amount%100==0:
      five=amount//500
      amount=amount%500
      print("500-----",five)
if amount>=200:
      two=amount//200
      amount=amount%200
      print("200-----",two)
if amount>=100:
      one=amount//100
      amount=amount%100
      print("100-----",one)

enter the amount:12900
500----- 25
200----- 2

In [ ]:
#1.accept project marks, internal marks, external marks from students
#2.passmarks is 50 in each subject
#3.calculate total score if student got more than or equal to 50 in each subject.

#total_score=70% on project + 20% on external
#                 +
              #10% on internal
#print A grade if score is 90+
#B grade if score is b/w 70-90
#C grade if score is b/w 50-70

project=int(input("enter project marks:"))
internal=int(input("enter internal marks:"))
external=int(input("enter external marks:"))
if project>=50 and internal>=50 and external>=50:
  total=(project/100)*70+(external/100)*20+(internal/100)*10
  print("total score:",total)
  if total>=90:
    print("A grade")
  elif total>=70:
    print("B grade")
  else:
    print("C grade")
else:
  print("fail")

enter project marks:91
enter internal marks:75
enter external marks:66
total score: 84.4
B grade

In [ ]:
#accept start and stop value and print b/w values
#start: 10
#stop: 100
#o/p: 10 11 12...99

#start:  100
#stop: 10
#o/p: 100 99 98 ...10

#start:10
#stop:10
#o/p: your start and stop values are same

start=int(input("enter start value:"))
stop=int(input("enter stop value:"))
if start<stop:
   for i in range(start,stop):
       print(i,end=" ")
elif start>stop:
  for i in range(start,stop,-1):
    print(i,end=" ")
else:
  print("your start and stop values are same")

enter start value:10
enter stop value:20
10 11 12 13 14 15 16 17 18 19

In [ ]:
# Write a program to print factors of a given number
# Write a program to print count of factors of a given number
# Write a program to check given number is prime or not
# Write a program to check given number is perfect number or not
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not

In [ ]:
# Write a program to print factors of a given number
# 10  --> 1 2 5
# 50  --> 1 2 5 10 25
num=int(input("Enter your number to print factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        print(i,end=" ")

Enter your number to print factors :50
1 2 5 10 25

In [ ]:
# Write a program to print count of factors of a given number
count=0
num=int(input("Enter your number to print count of factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

print("number of factors: ",count)

Enter your number to print count of factors :25
number of factors:  2

In [ ]:
# Write a program to check given number is prime or not
# 2 3 5 7 11 13 17 19 ....
count=0
num=int(input("Enter your number to check it is prime or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

if count==1:
    print(num," is a prime number")
else:
    print(num," is not a prime number")

Enter your number to check it is prime or not :7
7  is a prime number

In [ ]:
# Write a program to check given number is perfect number or not
# 6      :  1+2+3  ==6
# 28     : 1+2+4+7+14===28
# 10     : 1+2+5  ===> 8

sum=0
num=int(input("Enter your number to check it is perfect number or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        sum=sum+i

if sum==num:
    print(num," is perfect number")
else:
    print(num," is not a perfect number")

Enter your number to check it is perfect number or not :46
46  is not a perfect number

In [ ]:
for i in range(0,5):
    for j in range(0,5):
        print("Hi", end=" ")
    print()

Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi

In [ ]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i, end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
for row in range(0,6):
    for col in range(0,7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print(" T ",end=" ")
        else:
            print(" ", end="  ")
    print(" ")

    T   T      T   T
 T         T         T
 T                  T
    T            T
       T      T
          T

In [ ]:
# While loop:
# Write a program to find number of digits in a given number
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not

# Write a program to find number of digits in a given number
 #input: 5235
 #op: 4

num=6574
count=0
while num!=0:
    num=num//10
    count=count+1
print("Number of digits : ",count)

Number of digits :  4

In [ ]:
# Write a program to display the number in reverse order
# input: 6324  ---
# output: 4236

num=6324
rev=0
while num!=0:            # 6!=0
    rem=num%10               # 6%10   =6
    rev=rev*10+rem       #4236
    num=num//10              # 6//10  6
print("reverse number: ",rev)

reverse number:  4236

In [ ]:
x=25 , "rishii", True, 9.23
type(x)

tuple

In [ ]:
list
tuple
set
dict

In [ ]:
m=36,45.33, "rishii",True
type(m)

tuple

In [ ]:
indexable
interable
immutable

In [ ]:
a=(13,18,19,20,1,4)
age=6
if age>=18:
  print("eligible for voting")
else:
  print("not eligible for voting")

not eligible for voting

In [ ]:
age=(18,19,5,12,9)
for i in age:
   if i>=18:
      print("eligible:",i)
   else:
      print("not eleigible:",i)

eligible: 18
eligible: 19
not eleigible: 5
not eleigible: 12
not eleigible: 9

In [ ]:
salary=[10,20,30,40]
salary.append(300)
print(salary)

[10, 20, 30, 40, 300]

In [ ]:
salary=[20,67,87,99]
salary.insert(3,500)
print(salary)

[20, 67, 87, 500, 99]

In [ ]:
salary=[10,20,30,40]
salary.remove(30)
print(salary)

[10, 20, 40]

In [ ]:
salary=[10,20,30,40]
salary.pop(2)
print(salary)

[10, 20, 40]

In [ ]:
data=[12,7,3,25,66,10]
data.sort()
print(data)

[3, 7, 10, 12, 25, 66]

In [ ]:
data.reverse()
print(data)

[66, 25, 12, 10, 7, 3]

In [ ]:
#Fucntion: fuction is a group of statements which returns some result.

#1. Function with paramenters and without return value
#2. Function with paramenters and with return value
#3. Function without paramenters and without return value
#4. Function without paramenters and with return value

In [ ]:
def isPrime1(num):
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True

b=isPrime1(11)
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Not a prime number

In [ ]:
def isPrime1(num):
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
    return a

b=isPrime1(2)
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Prime number

In [ ]:
#3. Function without paramenters and without return value
def isPrime():
    num=int(input("Enter your number :"))
    count=0
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
        print(num," is a prime number")
    else:
        print(num," is not a prime number")

isPrime()

Enter your number :6
6  is not a prime number

In [ ]:
# 4. Function without paramenters and wit return value
def isPrime1():
    num=int(input("Enter your number"))
    count=0
    a=False
    for i in range(1, (num//2)+1):
        if num%i==0:
            count=count+1
    if count==1:
       a=True
    return a

b=isPrime1()
if b==True:
    print("Prime number")
else:
    print("Not a prime number")

Enter your number23
Prime number

In [ ]:
def viewPrograms():
    print("1. Prime number program")
    print("2. Reverse of a given number")
    print("3. Print factors of a given number")
    option=int(input("Choose your option: "))
    if option==1:
        isPrime()
    elif option==2:
        reverseNumber()
    elif option==3:
        factors()
    else:
        print("Please select 1 to 3")
def isPrime():
    print("Prime number program")
def reverseNumber():
    print("Reverse number code")
def factors():
    print("Factors code")


viewPrograms()

1. Prime number program
2. Reverse of a given number
3. Print factors of a given number
Choose your option: 3
Factors code

In [11]:
class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        self.acbal=self.acbal+amt
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :10000
Avaliable bal is:  20000

In [23]:
class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            self.acbal=self.acbal+amt
        else:
          print("please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()

obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :10000
Avaliable bal is:  20000

In [25]:
class ATM:
    acbal=10000
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()


obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :53000
Transaction limit is 50k only
Avaliable bal is:  10000

In [37]:
class ATM:
    acbal=10000
    def withdraw(self):
        # accept amount
        # amount should be multiples of 100
        # withdraw amount should be less than acbal
        # transaction limit is 20k
        pass#added pass statement to satisfy indentation
    def deposit(self):
        amt=int(input("Enter your deposit amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposit amount :234354354
Please enter multiples of 100
Avaliable bal is:  10000

In [41]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 35000
Insuffcient fund

In [44]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    print("Available bal is:",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 300
Available bal is: 9700

In [47]:
class ATM:
    acbal=10000
    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()

amount=int(input("enter the amount:"))
five=0
two=0
one=0
if amount%100==0:
      five=amount//500
      amount=amount%500
      print("500-----",five)
if amount>=200:
      two=amount//200
      amount=amount%200
      print("200-----",two)
if amount>=100:
      one=amount//100
      amount=amount%100
      print("100-----",one)


obj=ATM()
obj.viewOptions()

enter the amount:1800
500----- 3
200----- 1
100----- 1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 4500

In [50]:
class ATM:
    acbal=10000
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 1800
500 rupees notes are :  3
200 rupees notes are :  1
100 rupees notes are   1
Avaliable bal is:  8200

In [51]:
class ATM:
    acbal=10000
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
        elif option==2:
            obj.withdraw()



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 20000
Insuffcient fund

In [53]:
class ATM:
    acbal=10000
    def continue1(self):
        value=int(input("1 for continue and 0 for EXIT"))
        if value==1:
            obj.viewOptions()
        else:
            print("Thank you, Visit again")
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
            obj.continue1()
        elif option==2:
            obj.withdraw()
            obj.continue1()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
            obj.continue1()
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.viewOptions()

Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 2000
500 rupees notes are :  4
Avaliable bal is:  8000
1 for continue and 0 for EXIT1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :15000
Avaliable bal is:  23000
1 for continue and 0 for EXIT0
Thank you, Visit again

In [54]:
class ATM:
    acbal=10000
    wcount=0
    def validation(self):
        pin=int(input("Enter your pin: "))
        if pin==1234:
            obj.viewOptions()
        else:
            print("Invalid pin number, try again")
    def continue1(self):
        value=int(input("1 for continue and 0 for EXIT"))
        if value==1:
            obj.viewOptions()
        else:
            print("Thank you, Visit again")
    def numberOfNotes(self,amt):
        five=0
        two=0
        one=1
        if amt>=500:
            five=amt//500
            amt=amt-(five*500)
            print("500 rupees notes are : ",five)
        if amt>=200:
            two=amt//200
            amt=amt-(two*200)
            print("200 rupees notes are : ",two)
        if amt>=100:
            print("100 rupees notes are  ",one)

    def withdraw(self):
        amt=int(input("Enter your withdraw amount: "))
        if amt%100==0:
            if amt<=self.acbal:
                if amt<=20000:
                    self.acbal=self.acbal-amt
                    obj.numberOfNotes(amt)
                    self.wcount=self.wcount+1
                    print("Avaliable bal is: ",self.acbal)
                else:
                    print("Transaction limit is 20k only")
            else:
                print("Insuffcient fund")
        else:
            print("Please enter multiples of 100")
    def deposit(self):
        amt=int(input("Enter your deposite amount :"))
        if amt%100==0:
            if amt<=50000:
                self.acbal=self.acbal+amt
            else:
                print("Transaction limit is 50k only")
        else:
            print("Please enter multiples of 100")
        print("Avaliable bal is: ",self.acbal)


    def viewOptions(self):
        print("Welcome to ABC bank ")
        print("1. Deposit")
        print("2. Withdraw")
        print("3. Balance Enquiry")
        print("0. EXIT")
        option=int(input("Choose your option: "))
        if option==1:
            obj.deposit()
            obj.continue1()
        elif option==2:
            if self.wcount<3:
                obj.withdraw()
            else:
                print("your transaction limit is over for the day")
            obj.continue1()
        elif option==3:
            print("Avaliable bal is: ",self.acbal)
            obj.continue1()
        elif option==0:
            print("Thank you, Visit again")
        else:
            print("Please select correct option ")



obj=ATM()
obj.validation()

Enter your pin: 1234
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 2
Enter your withdraw amount: 300
200 rupees notes are :  1
100 rupees notes are   1
Avaliable bal is:  9700
1 for continue and 0 for EXIT1
Welcome to ABC bank
1. Deposit
2. Withdraw
3. Balance Enquiry
0. EXIT
Choose your option: 1
Enter your deposite amount :600
Avaliable bal is:  10300
1 for continue and 0 for EXIT0
Thank you, Visit again