In [ ]:
a=int(input("enter a value:"))
b=int(input("enter b value:"))
print(type(a))
print(type(b))
print(a+b)

enter a value:10
enter b value:20
<class 'int'>
<class 'int'>
30

In [ ]:
eno=int(input("enter employee number:"))
ename=input("enter employee name:")
easal=float(input("enter employee salary"))
print("the given employee number is",eno)
print ("the given employee name is", ename)
print("the given employee salary",esal)

enter employee number:30
enter employee name:tanisha
enter employee salary3000
the given employee number is 30
the given employee name is tanisha
the given employee salary 345.45

In [ ]:
#write a python program to enter radius of circle and find the area?

radius=int(input("enter the radius of circle"))
pi=3.14
area=pi*radius*radius
print("the area of circle is",area)

enter the radius of circle12
the area of circle is 452.15999999999997

In [ ]:
#write a python program find the area and circumference of rectangle?

length=int(input("enter the length of rectangle:"))
breadth=int(input("enter the breadth of rectangle:"))
area=length*breadth
circumference=2*length+breadth
print("the area of rectangle",area)
print("the circumference of rectangle",circumference)

enter the length of rectangle:12
enter the breadth of rectangle:14
the area of rectangle 168
the circumference of rectangle 38

In [ ]:
from typing import AsyncGenerator
#write a python program to check the person whether eligible for voting or not?

age=int(input("age of the person"))

if age>=18:
  print("eligible for voting")
else:
    print("not eligible for voting")

age of the person20
eligible for voting

In [ ]:
#write a python program to check the given number is positive or negative or zero?
number=int(input())

if number>0:
  print("the given number is positive")
elif number<0:
  print("the given number is negative")
else:
  print("the given number is zero")

3
the given number is positive

In [ ]:
#accept employee basic salary and find gross salary

basic=int(input("enter your basic salary to find gross salary"))
if basic<=10000:
   print()  #HRA is 70% on basic , DA is 56% on basic
   hra=70*basic
   da=56*basic
elif basic<=20000:
    print() #HRA is 73% on basic , DA is 60% on basic
    hra=73*basic
    da=60*basic
else:
    print() #HRA is 80% on basic , DA is 56% on basic
    hra=80*basic
    da=56*basic

gs=basic+hra+da
print("gross salary:",gs)

enter your basic salary to find gross salary30000

gross salary: 4110000

In [ ]:
#accept employee basic salary and find gross salary

basic=int(input("enter your basic salary to find gross salary"))
if basic<=10000:
   print()  #HRA is 70% on basic , DA is 56% on basic
   hra=(basic/100)*70
   da=(basic/100)*56
elif basic<=20000:
    print() #HRA is 73% on basic , DA is 60% on basic
    hra=(basic/100)*73
    da=(basic/100)*60
else:
    print()
    hra=(basic/100)*80
    da=(basic/100)*56

gs=basic+hra+da
print("gross salary:",gs)
print("hra:",hra)
print("da:",da)

enter your basic salary to find gross salary4500

gross salary: 10170.0
hra: 3150.0
da: 2520.0

In [ ]:
#accept username and password and display
#invalid username -- if username is incorrect
#invalid password -- if password is incorrect
username=input("enter your username:")
password=input("enter your password:")
if username=="admin":
  if password=="admin123":
    print("welcome admin")
  else:
    print("invalid password")
else:
  print("invalid username")

enter your username:rishi
enter your password:1234
invalid username

In [ ]:



# SBI ATM : 500,200,100
#10000 -->
#7800 --> 15-500--> 7500+ 1-200+ 1-100
#400--> 2-200
#1000--> 500-2

#Accept withdrawn amount and print number of Notes
#sample input :7800
#expected output:
    #500---15
    #200---1
    #100---1


amount=int(input("enter the amount:"))
five=0
two=0
one=0
if amount%100==0:
      five=amount//500
      amount=amount%500
      print("500-----",five)
if amount>=200:
      two=amount//200
      amount=amount%200
      print("200-----",two)
if amount>=100:
      one=amount//100
      amount=amount%100
      print("100-----",one)

enter the amount:12900
500----- 25
200----- 2

In [ ]:
#1.accept project marks, internal marks, external marks from students
#2.passmarks is 50 in each subject
#3.calculate total score if student got more than or equal to 50 in each subject.

#total_score=70% on project + 20% on external
#                 +
              #10% on internal
#print A grade if score is 90+
#B grade if score is b/w 70-90
#C grade if score is b/w 50-70

project=int(input("enter project marks:"))
internal=int(input("enter internal marks:"))
external=int(input("enter external marks:"))
if project>=50 and internal>=50 and external>=50:
  total=(project/100)*70+(external/100)*20+(internal/100)*10
  print("total score:",total)
  if total>=90:
    print("A grade")
  elif total>=70:
    print("B grade")
  else:
    print("C grade")
else:
  print("fail")

enter project marks:91
enter internal marks:75
enter external marks:66
total score: 84.4
B grade

In [ ]:
#accept start and stop value and print b/w values
#start: 10
#stop: 100
#o/p: 10 11 12...99

#start:  100
#stop: 10
#o/p: 100 99 98 ...10

#start:10
#stop:10
#o/p: your start and stop values are same

start=int(input("enter start value:"))
stop=int(input("enter stop value:"))
if start<stop:
   for i in range(start,stop):
       print(i,end=" ")
elif start>stop:
  for i in range(start,stop,-1):
    print(i,end=" ")
else:
  print("your start and stop values are same")

enter start value:10
enter stop value:20
10 11 12 13 14 15 16 17 18 19

In [ ]:
# Write a program to print factors of a given number
# Write a program to print count of factors of a given number
# Write a program to check given number is prime or not
# Write a program to check given number is perfect number or not
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not

In [1]:
# Write a program to print factors of a given number
# 10  --> 1 2 5
# 50  --> 1 2 5 10 25
num=int(input("Enter your number to print factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        print(i,end=" ")

Enter your number to print factors :50
1 2 5 10 25

In [2]:
# Write a program to print count of factors of a given number
count=0
num=int(input("Enter your number to print count of factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

print("number of factors: ",count)

Enter your number to print count of factors :25
number of factors:  2

In [3]:
# Write a program to check given number is prime or not
# 2 3 5 7 11 13 17 19 ....
count=0
num=int(input("Enter your number to check it is prime or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

if count==1:
    print(num," is a prime number")
else:
    print(num," is not a prime number")

Enter your number to check it is prime or not :7
7  is a prime number

In [4]:
# Write a program to check given number is perfect number or not
# 6      :  1+2+3  ==6
# 28     : 1+2+4+7+14===28
# 10     : 1+2+5  ===> 8

sum=0
num=int(input("Enter your number to check it is perfect number or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        sum=sum+i

if sum==num:
    print(num," is perfect number")
else:
    print(num," is not a perfect number")

Enter your number to check it is perfect number or not :46
46  is not a perfect number

In [6]:
for i in range(0,5):
    for j in range(0,5):
        print("Hi", end=" ")
    print()

Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi
Hi Hi Hi Hi Hi

In [7]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i, end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [8]:
for row in range(0,6):
    for col in range(0,7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print(" T ",end=" ")
        else:
            print(" ", end="  ")
    print(" ")

    T   T      T   T
 T         T         T
 T                  T
    T            T
       T      T
          T

In [ ]:
# While loop:
# Write a program to find number of digits in a given number
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not